# fly.toml app configuration file generated for backend-ancient-smoke-246 on 2025-11-02T16:07:58+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-ancient-smoke-246'
primary_region = 'fra'

[build]

[processes]
  app = "/app/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
